In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## To read the table better, I just copied it to an Excel spreadsheet

In [53]:
df = pd.read_excel('Toronto Neighborhoods.xlsx')
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [54]:
df.shape

(180, 3)

## Deleted all rows that had a Not assigned Borough

In [55]:
df = df.drop(df[df.Borough == 'Not assigned'].index)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Set the index back to zero

In [56]:
df = df.reset_index()
df.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

## Removed the index column created to keep the dataset clean

In [57]:
df = df.drop(columns=['index'])
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Checked if there were any Not assigned Neighborhoods

In [58]:
df.loc[df['Neighbourhood'] == 'Not Assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [59]:
df.shape

(103, 3)

# APAGAR ANTES DAQUI

## Used CSV file instead of Geocoder to create coordinates dataframe

In [68]:
coord = pd.read_csv('Geospatial_Coordinates.csv')
coord

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [69]:
coord.shape

(103, 3)

## Sort postal codes in neighborhoods df in alphabetical order

In [61]:
df = df.sort_values('Postal Code')
df.head()

   Postal Code      Borough                           Neighbourhood
6          M1B  Scarborough                          Malvern, Rouge
12         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough       Guildwood, Morningside, West Hill
22         M1G  Scarborough                                  Woburn
26         M1H  Scarborough                               Cedarbrae

## Set the index back to zero

In [62]:
df = df.reset_index()
df.head()

   index Postal Code      Borough                           Neighbourhood
0      6         M1B  Scarborough                          Malvern, Rouge
1     12         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2     18         M1E  Scarborough       Guildwood, Morningside, West Hill
3     22         M1G  Scarborough                                  Woburn
4     26         M1H  Scarborough                               Cedarbrae

## Removed the index column created to keep the dataset clean

In [63]:
df = df.drop(columns=['index'])
df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## Joined neighborhoods and coordinates dataframe (Nº of rows is the same)

In [64]:
df = df.join(coord, lsuffix='_df', rsuffix='_coord')
df.head()

,Postal Code_df,Borough,Neighbourhood,Postal Code_coord,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

## Removed the index column created to keep the dataset clean

In [65]:
df = df.drop(columns=['Postal Code_coord'])
df = df.rename(columns={'Postal Code_df': 'Postal Code'})
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476